.checkbox-fieldset {
  padding-top: 38px;
  padding-bottom: 42px;
}

.checkbox-fieldset__legend {
  margin-top: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.checkbox-fieldset__label {
  position: relative;
  display: block;
  margin-bottom: 43px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 69px;

  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;

    border: 2px solid #e5e5e5;
  }

  &:hover {
    &::before {
      border: 2px solid $main-color;
    }
  }

  &:active {
    &::before {
      border: 2px solid #d22856;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkbox-fieldset__input:focus + .checkbox-fieldset__label::before {
  border: 2px solid $main-color;
}

.checkbox-fieldset__input:checked + .checkbox-fieldset__label::before {
  background-image: url("../img/icon-yes_alternative.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62%;
}

.checkbox-fieldset__input:disabled + .checkbox-fieldset__label {
  color: #a6a6a6;

  cursor: default;
}

.checkbox-fieldset__input:disabled + .checkbox-fieldset__label::before {
  border: 2px solid #a6a6a6;
  opacity: 0.1;
}

.checkbox-fieldset__input:disabled + .checkbox-fieldset__label:hover::before {
  border: 2px solid #a6a6a6;
  opacity: 0.1;
}

@media (min-width: $width-tablet) {
  .checkbox-fieldset {
    padding-top: 0;
    padding-bottom: 48px;

    border: solid 2px #e5e5e5;
  }

  .checkbox-fieldset__legend {
    width: 436px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -16px;
    margin-bottom: 38px;
    padding-left: 31px;
    padding-right: 32px;

    line-height: 30px;

    background-color: #ffffff;
  }

  .checkbox-fieldset__label {
    padding-left: 60px;
  }
}

@media (min-width: $width-desktop) {
  .checkbox-fieldset {
    padding-bottom: 12px;
  }

  .checkbox-fieldset__label {
    margin-right: auto;

    &:nth-of-type(3n+1) {
      width: 260px;
    }

    &:nth-of-type(3n+2) {
      width: 240px;
    }

    &:nth-of-type(3n) {
      width: 230px;
    }
  }

  .checkbox-fieldset__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 58px;
    padding-right: 38px;

    .checkbox-fieldset__label--shark {
      width: 260px;
      order: -5;
    }

    .checkbox-fieldset__label--beach {
      width: 260px;
      order: -2;
    }

    .checkbox-fieldset__label--chuck-norris {
      order: -4;
      width: 242px;
    }

    .checkbox-fieldset__label--gift {
      order: -1;
      width: 240px;
    }

    .checkbox-fieldset__label--tower {
      order: -3;
      width: 230px;
    }

    .checkbox-fieldset__label--hotel {
      order: 0;
      width: 230px;
    }
  }
}
