.contacts-fieldset {
  padding-top: 32px;
  padding-bottom: 30px;
}

.contacts-fieldset__legend {
  display: none;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.contacts-fieldset__block {
  margin: 0;
  margin-bottom: 17px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts-fieldset__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;
  padding-right: 22px;

  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.contacts-fieldset__input {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  outline: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $main-color;
  }

  &:hover {
    border: 2px solid $main-color;
  }

  &:active,
  &:focus {
    border: 2px solid #d22856;
  }
}

@media (min-width: $width-tablet) {
  .contacts-fieldset {
    padding-top: 0;
    padding-bottom: 26px;
    padding-left: 58px;
    padding-right: 58px;

    border: solid 2px #e5e5e5;
  }

  .contacts-fieldset__legend {
    display: block;
    width: fit-content;
    margin-top: -16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
    padding-left: 31px;
    padding-right: 31px;

    line-height: 30px;

    background-color: #ffffff;
  }

  .contacts-fieldset__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  .contacts-fieldset__label {
    position: relative;

    margin-bottom: 0;
    padding-left: 19px;

    &::before {
      content: "";
      position: absolute;
      top: -71px;
      right: 2px;

      width: 60px;
      height: 59px;

      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tel {
      &::before {
        background-image: url("../img/icon-phone.svg");
      }
    }

    &--email {
      &::before {
        background-image: url("../img/icon-mail.svg");
      }
    }
  }

  .name-fieldset__label-text {
    max-width: 100px;
  }

  .contacts-fieldset__input {
    order: -1;
    margin-bottom: 10px;

    padding-right: 65px;
  }
}

@media (min-width: $width-desktop) {
  .contacts-fieldset {
    padding-bottom: 3px;
  }

  .contacts-fieldset__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts-fieldset__legend {
    margin-bottom: 28px;
  }

  .contacts-fieldset__block {
    width: 375px;
    margin-bottom: 10px;

    &:nth-of-type(2n) {
      margin-left: auto;
    }
  }

  .contacts-fieldset__input {
    padding-left: 18px;
  }
}
