.intro {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
}

.intro--photo-page {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 13px;
}

.intro--form-page {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.intro__text {
  margin: 0;

  font-size: 14px;
  text-align: center;
}

.intro__extra {
  display: none;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .intro {
    padding-top: 30px;
    padding-left: 111px;
    padding-right: 111px;
    padding-bottom: 30px;
  }

  .intro--photo-page {
    padding-bottom: 23px;
  }

  .intro--form-page {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
  }

  .intro__text {
    font-size: 18px;
  }

  .intro__extra {
    display: inline-block;
    font-size: 18px;
  }
}

@media (min-width: $width-desktop) {
  .intro {
    padding-left: 170px;
    padding-right: 170px;
  }

  .intro--photo-page {
    padding-bottom: 8px;
  }

  .intro--form-page {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0;
  }
}
