.intro {
  padding-top: 45px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 49px;
}

.intro__text {
  margin: 0;

  font-size: 14px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .intro {
    padding-top: 92px;
    padding-left: 111px;
    padding-right: 111px;
    padding-bottom: 76px;
  }

  .intro__text {
    font-size: 18px;
  }
}

@media (min-width: $width-desktop) {
  .intro {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 88px;
  }
}
