.name-fieldset {
  padding-bottom: 0;

  border: none;
}

.name-fieldset__block {
  margin: 0;
  margin-bottom: 17px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.name-fieldset__label-text {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;
  padding-right: 22px;

  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.name-fieldset__input {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  outline: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $main-color;

    opacity: 1;
  }

  &:hover {
    border: 2px solid $main-color;
  }

  &:active,
  &:focus {
    border: 2px solid #d22856;
  }
}

@media (min-width: $width-tablet) {
  .name-fieldset__block {
    margin: 0;
    margin-bottom: 52px;
  }

  .name-fieldset__label {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .name-fieldset__label-text {
    margin-bottom: 0;
    margin-right: 19px;
    padding: 0;
  }

  .name-fieldset__input {
    flex-grow: 1;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $width-desktop) {
  .name-fieldset__block {
    margin-bottom: 53px;
  }
}
