@media (min-width: $width-desktop) {
  .site-wrapper {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw auto;
    background-image: linear-gradient(#2b3b48 350px, #ffffff 350px);
  }
}
