.slider {
  @include indent-mobile;
  display: flex;
  flex-direction: column;
}

.slider__button {
  display: none;
}

.slider__slide--2 {
  display: none;
}

.slider__slide--3 {
  display: none;
}


.slider__author-wrapper {
  margin-bottom: 13px;
}

.slider__text-author {
  display: block;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.slider__author-info {
  display: none;
}

.slider__text {
  margin: 0;
  margin-bottom: 33px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .slider__slide {
    display: flex;
    flex-direction: column;
  }

  .slider__slide--2 {
    display: none;
  }

  .slider__slide--3 {
    display: none;
  }

  .slider__author-wrapper {
    margin-bottom: 34px;
  }

  .slider__text-author {
    margin-bottom: 2px;

    font-size: 20px;
  }

  .slider__author-info {
    display: block;

    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .slider__text {
    order: -1;

    margin-bottom: 34px;

    font-size: 18px;
  }
}

@media (min-width: $width-desktop) {
  .slider {
    @include indent;

    .slider__toggle {
      display: none;
    }
  }

  .slider__carousel {
    display: flex;
  }

  .slider__button {
    display: block;
    width: 22px;
    height: 41px;
    margin-top: 27px;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;

    cursor: pointer;

    &--left {
      background-image: url("../img/icon-review-arrow-left.svg");
      margin-right: 104px;
    }

    &--right {
      background-image: url("../img/icon-review-arrow-right.svg");
      margin-left: 104px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
      outline: none;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider__author-wrapper {
    margin-bottom: 0;
  }

  .slider__text-author {
    font-size: 24px;
  }

  .slider__author-info {
    font-size: 18px;
  }

  .slider__text {
    width: 690px;
    margin-bottom: 36px;
  }
}
