.social {
  margin-bottom: 36px;
  padding-right: 30px;
  padding-left: 50px;
}

.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 10px;

  &:nth-child(2) {
    margin-right: 12px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;

  line-height: 0;


  border: 3px solid rgba($main-color, 0.1);
  border-radius: 100%;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 14px;

    width: 18px;
    height: 15px;

    background-repeat: no-repeat;
  }


  &:hover,
  &:focus {
    border: 3px solid $main-color;
  }

  &:active {
    border: 3px solid $main-color;
    opacity: 0.1;
  }
}

.social__link--twitter {
  &::after {
    top: 16px;
    left: 14px;

    width: 18px;
    height: 15px;

    background-image: url("../img/icon-twitter.svg");
    background-size: 18px 15px;
  }
}

.social__link--facebook {
  &::after {
    top: 12px;
    left: 19px;

    width: 9px;
    height: 19px;

    background-image: url("../img/icon-facebook.svg");
    background-size: 9px 19px;
  }
}

.social__link--youtube {
  &::after {
    top: 15px;
    left: 17px;

    width: 15px;
    height: 14px;

    background-image: url("../img/icon-youtube.svg");
    background-size: 15px 14px;
  }
}

@media (min-width: $width-tablet) {
  .social {
    min-width: 178px;
    max-width: 250px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
