.text-fieldset {
  padding-top: 20px;
}

.text-fieldset__legend {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.text-fieldset__text {
  display: block;
  width: 100%;
  min-height: 201px;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  outline: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $main-color;
  }

  &:hover {
    border: 2px solid $main-color;
  }

  &:active,
  &:focus {
    border: 2px solid #d22856;
  }
}

@media (min-width: $width-tablet) {
  .text-fieldset {
    padding-top: 0;
    padding-bottom: 51px;

    border: solid 2px #e5e5e5;
  }

  .text-fieldset__legend {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: -16px;
    margin-bottom: 31px;
    padding-left: 38px;
    padding-right: 39px;

    line-height: 30px;

    background-color: #ffffff;
  }

  .text-fieldset__text {
    min-height: 193px;
  }
}
